*.class
*.jar
*.war
*.ear
*.pydevproject
.metadata
bin/**
tmp/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.classpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
target/
.mule/
.DS_Store
velocity.log
.mulet-objectstore/
